* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "cimsor";
	src: url("typeface/ethnocentric-regular.otf");
	font-style: normal;
}

body {
	font-family: monospace;
	background: black;
	color: white;
	width: 100vw;
}

header {
	position: fixed;
	height: 40px;
	width: 100%;
	background: linear-gradient(darkslategray, transparent);
}

.cim {
	position: absolute;
	top: 0;
	height: 40px;
	width: 100%;
	margin-top: 5px;
	text-align: center;
	text-decoration: none;
	font-size: x-large;
	font-family: "cimsor";
	color: white;
}

nav {
	background: linear-gradient(transparent, grey);
	position: fixed;
}

.item {
	display: flex;
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	align-items: center;
	justify-content: center;
	padding: 11px;
}

.item:link {
	background: linear-gradient(transparent, lightslategray);
}

.item:visited {
	background: linear-gradient(transparent, lightslategray);
}

.item:hover {
	background: linear-gradient(transparent, gray);
	text-decoration: underline;
}

.item:active {
	background: linear-gradient(black, transparent);
}

.list {
	position: absolute;
	top: 40px;
}

.list button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	margin: 5px;
}

.player {
	background-color: grey;
}

@media (min-aspect-ratio: 16/10) {
	.list button {
		width: 70vw;
	}

	.player {
		position: fixed;
		bottom: 0;
		height: 40px;
		width: 100vw;
		background-color: grey;
	}
}

@media (max-aspect-ratio: 16/10) {
	.list button {
		width: 99vw;
	}

	.player {
		position: fixed;
		bottom: 0;
		height: 40px;
		width: 100vw;
		background-color: grey;
	}
	nav {
		bottom: 40px;
		display: inline-flex;
		width: 100vw;
		justify-content: space-evenly;
	}
}
