* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "cimsor";
	src: url("typeface/ethnocentric-regular.otf");
	font-style: normal;
}

body {
	font-family: monospace;
	background: black;
	color: white;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	height: 80px;
	width: 100%;
	background: linear-gradient(darkslategray 40px, gray);
}

.cim {
	position: absolute;
	top: 0;
	height: 40px;
	width: 100%;
	margin-top: 5px;
	text-align: center;
	font-size: x-large;
	font-family: "cimsor";
	color: white;
}

nav {
	position: relative;
	width: 100vw;
	top: 40px;
	padding: 12px;
}

nav .item {
	color: white;
	font-size: 14px;
	text-decoration: none;
	font-family: sans-serif;
	height: 40px;
	width: 150px;
	padding: 12px;
}

nav img {
	padding: 0;
	margin: 0;
	height: 32px;
	margin-left: 5px;
	float: right;
}

.item:link {
	background: linear-gradient(transparent, lightslategray);
}

.item:visited {
	background: linear-gradient(transparent, lightslategray);
}

.item:hover {
	background: linear-gradient(transparent, gray);
	text-decoration: underline;
}

.item:active {
	background: linear-gradient(transparent, black);
	font-weight: bold;
	font-size: 13.25px;
}

section {
	position: absolute;
	top: 80px;
}

footer {
	position: fixed;
	bottom: 0;
}
