@font-face {
	font-family: "cimsor";
	src: url("typeface/ethnocentric-regular.otf");
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: sans-serif;
	scrollbar-width: none;
}

html {
	background: black;
	color: white;
	width: 100vw;
	height: 100vh;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 100vw;
	background: linear-gradient(darkslategray, transparent);
}

.cim {
	font-size: x-large;
	font-family: "cimsor";
	color: white;
}

section {
	display: flex;
	height: calc(100vh - 50px);
	overflow: scroll;
	margin: 0 10px 10px 10px;
}

.list {
	display: flex;
	margin: 0 5px 0 0;
	overflow: scroll;
}

.list * {
	display: flex;
	flex-direction: column;
}


.list button {
	display: flex;
	align-items: center;
	padding: 10px;
	background: linear-gradient(#ffffff40, #ffffff0d);
	color: white;
	font-size: larger;
	border: hidden;
	border-radius: 8px;
}

.list form:not(:last-child) {
	margin-bottom: 10px;
}

.player {
	display: flex;
	background: linear-gradient(#ffffff40, #ffffff0d);
	color: white;
	font-size: larger;
	width: 35vw;
	margin: 0 0 0 5px;
	border-radius: 8px;
}

@media screen and (min-aspect-ratio: 4/3) {
	.list {
		flex-direction: column;
		width: 65vw;
		height: calc(100vh - 50px);
	}

	.list button {
		flex-direction: row;
		justify-content: space-between;
	}

	.list button img {
		max-width: 64px;
	}

	.player img {
		max-width: 14vw;
	}

	.player {
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 2vw;
	}

	.player img,
	.player name-container {
		margin: 3vh;
	}
}

#face {
	font-size: 3vw;
}

@keyframes tucsok {
	0% {
		color: auto;
	}

	100% {
		color: transparent;
	}
}

.tucsok {
	animation: tucsok 1s infinite linear alternate;
	font-size: 1.5vw;
}

.media-controls {
	display: inline-flex;
	justify-content: center;
}

.media-controls button {
	background: transparent;
	border: none;
	color: white;
	font-size: 3vw;
	margin: 3vh;
}

.media-controls button:disabled {
	color: gray;
	cursor: default;
}

/*
@media (min-aspect-ratio: 16/10) {
	pc mód 

	section {
		display: flex;
		width: calc(100% - 20px);
	}

	.list {
		margin-right: 10px;
		width: 65vw;
		overflow: auto;
	}

	.list img {
		max-width: 48px;
	}

	.list button {
		display: flex;
		width: 100%;
		margin-bottom: 10px;
		align-items: center;
	}

	.list button span {
		flex: 1;
		text-align: left;
		margin-left: 10px;
	}

	.list button img {
		flex: 1;
		text-align: right;
		margin: 10px;
	}

	.player {
		--content-gap: 1vh;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 35vw;
		margin-bottom: 10px;
		padding: 10px;
	}

	.player * {
		margin: var(--content-gap);
	}

	#logo {
		width: 10vw;
	}
}

@media (max-aspect-ratio: 16/10) {
	mobil mód

	section {
		display: flex;
		flex-direction: column;
		width: calc(100vw - 20px);
	}

	.list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-evenly;
		justify-self: center;
		width: 100%;
		height: calc(90vh - 45px);
		overflow: auto;
	}

	.list img {
		width: 10vw;
	}

	.list button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 40vw;
		margin: 10px;
		padding: 10px;
	}

	.player {
		--content-gap: 1vh;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: calc(100% - 5px);
		height: 10vh;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.player * {
		margin: var(--content-gap);
	}

	#logo {
		width: 10vw;
	}
}

*/