<!DOCTYPE html>
<html lang="hu">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}{% endblock %}iStreamRadio</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
		<link
			rel="icon"
			href="{{ url_for('static', filename='favicon.ico') }}"
		/>
	</head>

	<body>
		<header>
			<p class="cim">iStreamRadio</p>
			<nav>
				<a class="item" href="/about">Rólam</a>
				<a href="/">
					<img
						src="https://cdn.iconfinder.com/data/icons/ios-14-custom-application/62/application-33-128.png"
						alt="ikon"
						title="ikon"
					/>
				</a>
				<a
					href="https://www.utinform.hu/hu/news/balesetek-torlodasok-rendkivuli-kozlekedesi-esemenyek"
					target="_blank"
				>
					<img
						class="utinform"
						src="https://www.utinform.hu/assets/logos/utinform_logo.svg"
						alt="utinform"
						title="utinform"
					/>
				</a>
			</nav>
		</header>

		<section>{% block content%} {% endblock content %}</section>

		<footer>{% block player%} {% endblock player %}</footer>
	</body>
</html>
