{% extends "base.html" %} {% block title %} {% if nowPlaying != None %} {% for
listen in nowPlaying %} {{ listen.name }} - {% endfor %} {% endif %} {% endblock
title %} {% block content %} {% for radio in radioList %} {% if radio.id > 0 %}
<form action="/listen/{{ radio.id }}" method="get">
	<button type="submit" id="{{ radio.id }}">
		<span>{{ radio.name }}</span>
		<img
			src="{{ radio.logo_thumbnail }}"
			alt="A(z) {{ radio.name }} logója kicsiben"
			title="A(z) {{ radio.name }} logója kicsiben"
		/>
	</button>
</form>
{% endif %} {% endfor %} {% endblock %} {% block player %} {% if nowPlaying !=
None %} {% for listen in nowPlaying %}
<div id="playing">
	<span id="nev">{{ listen.name }}</span>
	<span id="logo-container"
		><img
			id="logo"
			src="
	{{ listen.logo_thumbnail }}"
			alt="
	{{ listen.name }}"
			title="
	{{ listen.name }}"
			style="max-block-size: 64px"
		/>
	</span>
	<span id="audio-container">
		<audio autoplay>
			<source src="{{ listen.url }}" />
			Ez az eszköz nem támogatja a hanglejátszást.
		</audio>
	</span>
	<span class="media-controls">
		<form action="">
			<button class="bi bi-skip-start-circle"></button>
		</form>
		<form action="">
			<button class="bi bi-stop-circle"></button>
		</form>
		<form action="">
			<button class="bi bi-skip-end-circle"></button>
		</form>
	</span>
</div>
{% endfor %} {% endif %} {% if nowPlaying == None %}
<div id="stopped">
	<p id="face">¯\_(ツ)_/¯</p>

	<p id="tucsok">
		Itt még a tücskök sem ciripelnek...<br />
		Bökj meg egy rádiót a lejátszáshoz!
	</p>
</div>
{% endif %} {% endblock %}
